/*=====================*/
/* BROWSER RESET       */
/*=====================*/
*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

/*=====================*/
/* MAIN                */
/*=====================*/
main {
  align-items: center;
  background: gray;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

section {
  background: white;
  display: grid;
  grid-template-areas:
    "header"
    "chart"
    "footer";
  height: auto;
  padding: 1rem;
  width: auto;
}

#title {
  grid-area: header;
  text-align: center;
  height: auto;
  line-height: 3rem;
  min-height: 3rem;
}

#chart {
  grid-area: chart;
  height: 40rem;
  width: 60rem;
}

#footer {
  grid-area: footer;
}
